* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
.main_flex{display:flex;display:-webkit-flex;-webkit-flex-flow:row wrap;flex-flow:row wrap}.main_flex__nowrap{display:flex;display:-webkit-flex;-webkit-flex-flow:row nowrap;flex-flow:row nowrap}.flex__jcontent_between{justify-content:space-between;-webkit-justify-content:space-between}.flex__jcontent_start{justify-content:flex-start;-webkit-justify-content:flex-start}.flex__jcontent_end{justify-content:flex-end;-webkit-justify-content:flex-end}.flex__jcontent_center{justify-content:center;-webkit-justify-content:center}.flex__jcontent_around{justify-content:space-around;-webkit-justify-content:space-around}.flex__auto{flex:auto;-webkit-flex:auto;-ms-flex:auto}.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start}.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end}.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline}.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch}.flex__align-items_center{align-items:center;-webkit-align-items:center}.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start}.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end}.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between}.flex__align-content_center{align-content:center;-webkit-align-content:center}.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around}.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch}.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1}.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2}.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3}.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4}.w5{width:5%;max-width:5%}.w10{width:10%;max-width:10%}.w15{width:15%;max-width:15%}.w20{width:20%;max-width:20%}.w25{width:25%;max-width:25%}.w30{width:30%;max-width:30%}.w35{width:35%;max-width:35%}.w40{width:40%;max-width:40%}.w45{width:45%;max-width:45%}.w50{width:50%;max-width:50%}.w55{width:55%;max-width:55%}.w60{width:30%;max-width:60%}.w65{width:65%;max-width:65%}.w70{width:70%;max-width:70%}.w75{width:75%;max-width:75%}.w80{width:80%;max-width:80%}.w85{width:85%;max-width:85%}.w90{width:90%;max-width:90%}.w95{width:95%;max-width:95%}.w100{width:100%;max-width:100%}.main_flex__nowrap_reverse {display:flex;display:-webkit-flex;-webkit-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap}
body {
    background-color: #eaeaea;
    font-family: Segoe, "Segoe UI";
    font-size: 1.14vmax;
    line-height: 1.33vmax;
}
.wrap {
    width: 81.66vw;
    margin: 0 auto;
    position: relative;
}
.dark {
    background-color: #2e2e30;
    color: #ffffff;
}
.grey {
    background-color: #838d8f;
    color: #ffffff;
}

#sing svg {
    width: 1.33vmax;
    height: 1.33vmax;
    fill: #7e7e7e;
    margin-right: 1.33vmax;
}
#top {
    width: 100%;
    height: 9.16vmax;
}
#top .wrap, #top .menu {
    height: inherit;
}

div .btn {
    border-radius: 0.33vw;
    padding: 0.66vw 1.32vw;
    overflow: hidden;
}
#sing {
    border: 1px solid #ededed;
    color: #fff;
    font-size: 0.83vmax;
    cursor: pointer;
}
#sing:hover {
    background-color: #ededed;
    color: #2e2e30;
    transform: scale(0.97);
}

#location, #currency {
    font-family: 'PT Serif';
    margin-left: 5.25vmax;
    color: #aaaaaa;
}

#location span, #currency span {
    font-family: Segoe, "Segoe UI";
    color: #ffffff;
    cursor: pointer;
    margin-left: 1.66vmax;
    font-size: 0.83vmax;
}
#logo, #logo a {
    display: block;
    height: 5.33vmax;
    width: 11.33vmax;
    text-decoration: none;

}
#logo svg {
    width: inherit;
    height: inherit;
}
#currency {
    margin-left: 0;
    margin-right: 6.33vmax;
}

#cart {
    border: 1px solid #86ce8e;
    font-size: 0.83vmax;
    color: #86ce8e;
}

#cart svg {
    margin-right: 1.25vmax;
    height: 1.16vmax;
    width: 1.25vmax;
    fill: #86ce8e;
}

#cart:hover {
    background-color: #86ce8e;
    color: #fff;
}

#cart:hover svg {
    fill: #fff;
}

#menu {
    background-color: #fff;
    width: 100%;
    height: 4.16vmax;
}
#menu .wrap {
    height: inherit;
    position: relative;
}

nav li {
    list-style: none;
    height: 100%;
}
nav a {
    text-decoration: none;
}
#main_nav, #main_nav li, #main_nav a {
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    align-items: center;
    justify-content: center;
}

#main_nav a {
    padding: 0 1.5vmax;
    color: #3c3d41;
    text-transform: uppercase;
    font-weight: bold;
}
#main_nav a:hover {
    background-color: #3c3d41;
    color: #fff;

}
#search_btn svg {
    width: 1.5vmax;
    height: 1.5vmax;
}
#search_btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: calc(50% - 0.75vmax);
}
#banner {
    width: 100%;
    height: 16.66vmax;
    overflow: hidden;
    background-color: rgb(215,232,236);
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    padding-top: 4.16vmax;
    padding-bottom: 6.66vmax;
}
#left_bar {
    width: 19.16vw;
}

#right_bar {
    width: 60.83vw;
}
.box {
    border-radius: 0.33vw;
    background-color: #FFFFFF;
}
#load_more {
    border: none;
    cursor: pointer;
    width: 100%;
    color: #FFFFFF;
    background-color: #b8c6c7;
    font-size: 1.25vmax;
    padding-top: 1.66vmax;
    padding-bottom: 1.66vmax;
    margin-top: 1.66vmax;

}

#load_more:hover {
    transform: scale(0.95);
}

.product {
    flex-flow: column nowrap;
    text-decoration: none;
    padding: 1.66vmax 1.66vw;
    width: 19.16vw;
    height: 25vmax;
    margin-bottom: 1.66vmax;
    margin-right: 1.66vw;
    position: relative;
}

.product:nth-of-type(3n) {
    margin-right: 0;
}
.img_product {
    width: 100%;
    height: 13.33vmax;
    overflow: hidden;
    text-align: center;
    margin-bottom: 2.08vmax;
}
.img_product img {
    height: 100%;
    width: auto;
}
.product h2 {
    font-size: 1.25vmax;
    line-height: 1.5vmax;
    text-align: center;
    color: #3a3d3f;
    margin-bottom: 0.83vmax;
    font-weight: bold;
}

.product p:first-of-type {
    text-align: center;
    font-style: italic;
    color: #838c8e;
    font-size: 1vmax;

}
.price {
    color: #3a3d3f;
    font-size: 1.08vmax;
    font-weight: bold;
    margin-top: 0.83vmax;
}
.product:hover {
    transform: scale(1.05);
}
.product_tag {
    background-color: #84ce8b;
    color: #FFFFFF;
    padding: 0.41vmax;
    font-size: 0.83vmax;
    text-transform: uppercase;
    position: absolute;
    top: 1.66vmax;
    right: 1.66vmax;
    z-index: 1;
    letter-spacing: 0.2vw;
}
.list_box {
    width: 100%;
}
.title_box,
.title_filter{
    padding: 0 1.66vmax;
    font-size: 2vmax;
    width: 100%;
    height: 4.16vmax;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.title_box svg {
    height: 1.4vmax;
    width: 0.9vmax;
    fill: #ccc;
}
.rotate {
    transform: rotate(90deg);

}
.title_box p,
.title_filter p {
    color: #3c3d41;
    font-size: 0.91vmax;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-weight: bold;
}
.list_link {

    background-color: #838d8f;
    padding: 1.66vmax;
}
.hide {
    display: none;
}
.list_link ul {
    list-style: none;
}
.list_link li {
    margin-bottom: 1.2vmax;
}
.list_link li:last-of-type {
    margin-bottom: 0;
}
.list_link ul a {
    text-decoration: none;
    color: #daddde;
    font-size: 1.08vmax;

}
.list_link ul a:hover {
    color: #FFFFFF;
}
.filter_box {
    margin-top: 1.83vmax;
}
.list_color_filters label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 2.66vmax;
    height: 2.66vmax;
    border-radius: 2.66vmax;

}
.list_color_filters li {
    list-style: none;
    margin-right: 0.66vw;
    margin-bottom: 0.83vmax;
}

.list_color_filters li:nth-of-type(5n){
    margin-right: 0;
}
.list_color_filters input[type="checkbox"] {
    display: none;
}
.color_filters {
    padding: 1.6vmax;
}
.colors input[type=checkbox]:checked + label {
    box-shadow: 0 0 5px 2px #ababab;
}
.sizes label {
    background-color: #eee;
    color: #3c3d41;
    font-size: 0.91vmax;
}

.sizes input[type=checkbox]:checked + label {
    background-color: #838d8f;
    color: #fff;

}

.price_box {
    margin-top: 1vmax;
}
.price_box p {
    display: flex;

    width: 30%;
    font-size: 1.08vmax;
    color: #878787;

}
.price_box input[type=text] {
    padding-left: 0.5vmax;
    border: none;
    outline: none;
    width: 100%;

    font-size: 1.08vmax;
    color: #878787;
}

footer {
    width: 100%;
    min-height: 20.25vmax;
    background-color: #FFFFFF;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
}
#footer_nav a {
    text-transform: uppercase;
    color: #3c3d41;
    font-weight: bold;
    font-size: 1vmax;

}
#footer_nav li {
    margin-right: 2vmax;
}
#footer_nav li:last-of-type {
    margin-right: 0;
}

#footer_nav a:hover {
    text-decoration: underline;
}
#footer_nav {
    margin-bottom: 3vmax;
}

#newsletter p {
    font-size: 0.9vmax;
    color: #3c3d41;
    font-weight: bold;
    margin-right: 2vmax;
}
#newsletter input {
    border: none;
    height: 2.66vmax;
    width: 18.8vmax;
    background-color: #eeeeee;
    color: #878787;
    font-size: 1vmax;
    padding-left: 1.25vmax;
    padding-right: 3vmax;
    background-image: url("./img/letter.png");
    background-size: 1.3vmax;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border-radius: 0.33vw;
}
#soc_list {
    margin-top: 2.8vmax;
}
#soc_list svg {
    width: 1.25vmax;
    height: 1.25vmax;
    fill: #838d8f;


}

#soc_list li {
    list-style: none;
    margin-right: 3.5vmax;

}
#soc_list li:last-of-type {
    margin-right: 0;
}

#cart_box {
    position: fixed;
    top: 0;
    right: 0;
    height: 90vh;
    z-index: 100;
    background-color: #fff;
    width: 35vw;
    box-shadow: -3px 2px 9px rgba(88, 88, 88, 0.52);
    transform: translateX(100%);
}

#cart_box.open {
    transform: translateX(0%);

}
.anime {
    transition-duration: 0.7s;
}
.title_cart_box {
    background-color: #5ba582;
    width: 100%;
    height: 4vmax;
    padding: 1.5vmax;
    color: #FFFFFF;
    cursor: pointer;
}
.title_cart_box svg {
    height: 1.5vmax;
    width: 1.5vmax;
    fill: #FFFFFF;
}
.ui-slider-handle {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    filter: inherit;
    top: -0.5vmax;
    margin-left: -.6em;
    left: -.3em;

    margin-bottom: -.6em;
}


.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 3px;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #454545;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
}


.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: 0.16vmax;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.5vmax;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}


.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}
.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter:Alpha(Opacity=70); /* support: IE8 */
    font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}
.ui-state-disabled .ui-icon {
    filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

    /* We use html here because we need a greater specificity to make sure disabled
    works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #454545;
    text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}
.ui-widget-header a {
    color: #333333;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider-handle {
    border-radius: 50%;
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background-color: #838d8f;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: 0.16vmax;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.5vmax;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-widget.ui-widget-content {

}
.ui-widget-content {

    background: #eeeeee;
    color: #333333;
}
.ui-widget-content a {
    color: #333333;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}
.ui-widget-header a {
    color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

    /* We use html here because we need a greater specificity to make sure disabled
    works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #454545;
    text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #003eff;
    background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}
.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter:Alpha(Opacity=70); /* support: IE8 */
    font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}