* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
.my-header {
    background-color: #EFEFEF;
}
.header-menu {
    max-width: 447px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
}
.header-menu__item {

    color: #333333;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
}

.header-menu__item:hover {
    color: #F13C6E;
    cursor: pointer;
}
.top-line {
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EFEFEF;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 172px;
}

.logo__pic {
    margin-right: 20px;


}
.logo__name {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #F13C6E;
}

.search-line {
    background: #EFEFEF url("../img/search.png") no-repeat 5% 50%;
    padding-left: 50px;
    border-radius: 40px;
    width: 250px;
    height: 40px;
    margin-right: 93px;
    border: none;
}
input:focus {
    border: none;
}

.call {
    display: flex;
    align-items: center;

}

.call__number {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 40px;

}

.call__btn {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}
.call__btn:hover {
    color: #FFFFFF;
    background: #F13C6E;
    border: 2px solid #000000;
    transform: scale(1.05,1.1);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.bot-line {
    display: flex;
    padding: 40px 0 40px 0;
    justify-content: center;
}

.container-menu {
    display: flex;
}

.container-menu__item {
    margin-right: 40px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.container-menu__item:hover {
    color: #F13C6E;
    cursor: pointer;
}


.sale {
    background: #F13C6E url("../img/salepic.png");
    height: 604px;
    width: 100%;
    padding: 147px 0 0 405px;
}

.sale__content {
    max-width: 308px;
    color: #FFFFFF;
}

.sale__content-header {
    font-size: 48px;
    line-height: 56px;
}
.sale__content-text {
    margin-top: 50px;
    font-size: 14px;
    line-height: 20px;
}

.sale__content-btn {
    margin-top: 50px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-sizing: border-box;
    letter-spacing: 0.05em;
    border: 2px solid #FFFFFF;
    max-width: 170px;
    border-radius: 40px;
}
.sale__content-btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}
.main-content {
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
}
.goods {
    max-width: 1080px;
}
.goods__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.goods__items {
    display: flex;
    margin-top: 38px;
}

.goods__item:hover {
    transform: scale(1.05);
    transition: 0.2s ease-out;
    cursor: pointer;
}
.goods__item img {
    width: 125px;
    height: 166px;
}
.goods__item {
    background: #FFFFFF;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.goods__items .goods__item:last-of-type {
    margin-right: 0;
}

.goods__item-decs {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.goods__item-price {
    margin-top: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}

.goods__item-btn {
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    background: #F13C6E;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    width: 130px;
    height: 35px;
}

.goods__item-btn:hover {
    transform: scale(1.05);

}

.main-content .goods:last-of-type {
    margin-top: 100px;
}
.offers {
    max-width: 1080px;
    display: flex;
    margin-top: 100px;
}
.offers__item {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    width: 540px;
    height: 212px;
    padding: 35px 45px 35px 40px;
    background: #F13C6E;
}

.offers .offers__item:last-of-type {
    margin-right: 0;
}

.offers__item-container {
    color: #FFFFFF;
}
.offers__item-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

}

.offers__item-desc {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;

}

.offers__item-mail {
    margin-top: 25px;
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
    color: #000000;
    padding: 9px 25px;
    border: none;
}

.offers__item-shops {
    width: 170px;
    height: 35px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

    border-radius: 30px;
}

.offers__item-shops:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.brands {
    margin-top: 100px;
    background: #FFFFFF;
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;

}

.brands__item {
    padding: 35px 60px 35px 60px;
    width: 270px;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}

.my-footer {
    padding-top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
}
.categories-container .categories:last-of-type {
    margin-right: 0;
}
.categories {
    margin-right: 30px;

}
.categories_list {
    display: flex;
    width: 255px;
    border-top: 1px solid #EFEFEF;
    flex-direction: column;
    padding-top: 15px;
}
.categories__list-item {
    margin-top: 10px;
    text-decoration: none;
    color: #828282;
}
.categories__list-item:hover {
    text-decoration: underline;
    color: #F13C6E;
}
.categories__header {
    color: #000000;
    max-width: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140.62%;
    padding-bottom: 30px;

}

.contacts {
    margin-top: 60px;
    border-top: 1px solid #EFEFEF;
    width: 100%;
    display: flex;
    max-width: 1080px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.contacts__social img {
    margin-right: 20px;
}

.contacts__social img:hover {
    transform: scale(1.05);
    transition: 0.2s ease-out;
    cursor: pointer;
}
.contacts__social img:last-of-type {
    margin-right: 0;
}
.contacts__address {

    font-size: 14px;
    line-height: 16px;
}

.rights {
    padding: 25px 0 15px 0;
    background: #EFEFEF;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #828282;
}

.pol {
    text-decoration: none;
    color: #828282;
}

.pol:hover {
    text-decoration: underline;
    color: #F13C6E;
}